textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 500px;
}

table { 
    table-layout: fixed;
}

td { 
    overflow: hidden;
    overflow-wrap: break-word;
}

.csv-sum {
    font-weight: bold;
}

.dropdown-Tags {
    position: absolute;
    z-index: 100;
    display: none;
    min-width: 100pt;
    padding: 5pt 0;
    background-color: #fff;
    border: rgb(200, 200, 200) solid 1pt;
}

